<footer class=" text-center text-white" style="background-color: #1F7A8C;">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Form -->
      <section class="">
        <form action="">
          <!--Grid row-->
          <div class="row d-flex justify-content-center pb-4">
            <!--Grid column-->
            <div class="col-auto">
                <a href="">LINK 1</a>
            </div>
            <!--Grid column-->
  
            <!--Grid column-->
            <div class="col-auto">
              <!-- Email input -->
              <a href="">LINK 1</a>
            </div>
            <!--Grid column-->
            <div class="col-auto">
                <!-- Email input -->
                <a href="">LINK 1</a>
              </div>
              <div class="col-auto">
                <!-- Email input -->
                <a href="">LINK 1</a>
              </div>
  
            <!--Grid column-->
            <div class="col-auto">
              <a href="">LINK 1</a>
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </form>
      </section>
      <!-- Section: Form -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: #022B3A;">
      © 2020 Copyright:
      <a class="text-white">Broker PIL</a>
    </div>
    <!-- Copyright -->
  </footer>