<footer class=" text-center text-white" style="background-color: #1F7A8C;">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <section class="">
        <form action="">

          <div class="row d-flex justify-content-center pb-4">
        
            <div class="col-auto">
              <p>Contacto</p>
            </div>
        
            <div class="col-auto">
              <a routerLink="aboutUs">Sobre Nosotros</a>
            </div>

            <div class="col-auto">
              <p>Redes Sociales</p>
            </div>
          </div>
        </form>
      </section>
    </div>
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: #022B3A;">
      © 2020 Copyright:
      <a class="text-white">Broker PIL</a>
    </div>
    <!-- Copyright -->
  </footer>