<div class="container register-form">
  <h2 class="mb-4">Registro</h2>
  <form [formGroup]="registerForm" id="form-register">
    <div class="form-group mb-2">
      <label for="nombre">Nombre completo:</label>
      <input autocomplete="off" type="text" formControlName="nombre" class="form-control" id="nombre" name="nombre" placeholder="nombre" required>
      <div class="alert alert-danger p-2 mt-1" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
        <p class="mb-0" *ngIf="nombre.errors?.['required']">El nombre es requerido</p>
      </div>
    </div>
    <div class="form-group mb-2">
      <label for="apellido">Apellido:</label>
      <input autocomplete="off" type="text" formControlName="apellido" class="form-control" id="apellido" name="apellido" placeholder="Apellido" required>
      <div class="alert alert-danger p-2 mt-1" *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)">
        <p class="mb-0" *ngIf="apellido.errors?.['required']">El apellido es requerido</p>
      </div>
    </div>
    <div class="form-group mb-2">
      <label for="dni">DNI:</label>
      <input autocomplete="off" type="text" formControlName="dni" class="form-control" id="dni" name="dni" placeholder="123456789" required>
      <div class="alert alert-danger p-2 mt-1" *ngIf="dni.invalid && (dni.dirty || dni.touched)">
        <p class="mb-0" *ngIf="dni.errors?.['required']">El DNI es requerido</p>
      </div>
    </div>
    <div class="form-group mb-2">
      <label for="nacimiento">Fecha de Nacimiento:</label>
      <input type="date" formControlName="nacimiento" class="form-control" id="nacimiento" name="nacimiento" required>
      <div class="alert alert-danger p-2 mt-1" *ngIf="nacimiento.invalid && (nacimiento.dirty || nacimiento.touched)">
        <p class="mb-0" *ngIf="nacimiento.errors?.['required']">La fecha de nacimiento es requerida</p>
      </div>
    </div>
    <div class="form-group mb-2">
      <label for="correo">Email:</label>
      <input type="correo" formControlName="correo" class="form-control" id="correo" name="correo" placeholder="correo@correo.com" required>
      <div class="alert alert-danger p-2 mt-1" *ngIf="correo.invalid && (correo.dirty || correo.touched)">
        <p class="mb-0" *ngIf="correo.errors?.['required']">El email es requerido.</p>
        <p class="mb-0" *ngIf="correo.errors?.['correo']">El email debe tener un formato válido.</p>
      </div>    
    </div>
    <div class="form-group mb-2">
      <label for="contraseña">Contraseña:</label>
      <input type="password" formControlName="contraseña" class="form-control" id="contraseña" name="contraseña" placeholder="contraseña" required>
      <div class="alert alert-danger p-2 mt-1" *ngIf="password.invalid && (password.dirty || password.touched)">
        <p class="mb-0" *ngIf="password.errors?.['required']">La contraseña es requerida</p>
      </div>
    </div>
    <div class="form-group mb-2">
      <label for="  ">Teléfono:</label>
      <input type="text" formControlName="telefono" class="form-control" id="telefono" name="telefono" placeholder="123-456-7890" required>
      <div class="alert alert-danger p-2 mt-1" *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)">
        <p class="mb-0" *ngIf="telefono.errors?.['required']">El teléfono es requerido</p>
      </div>
    </div>
    <div class="form-group d-grid">
      <button type="submit" (click)="submitForm()" class="btn btn-primary">REGISTRAR</button>
    </div>
    <div class="alert alert-danger mt-2" [ngStyle]="mostrarMsgError ? {'display': 'block'} : {'display': 'none'}">
      {{msgError}}
    </div>
  </form>
</div>
