/* You can add global styles to this file, and also import other style files */
body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.appRoot {
    flex-grow: 1;
    height: 100%;
}