<div class="container mt-5 main_container">
        
    <h2 class="mb-3">Mi Portafolio</h2>
  
    <div class="row justify-content-around portfolio_row">
        <div class="col-md-12 col-lg-2 mx-2 mt-4 portfolio_div">
            <h3>Fondos Totales</h3>
            <!--<h4>Suma de fondos Disponibles y todas las acciones que posee</h3>-->
            <h4>${{totalFunds}}</h4>
        </div>
        <div class="col-md-12 col-lg-2 mx-2 mt-4 portfolio_div">
            <h3>Fondos</h3>
            <!--<h4>Fondos disponibles para comprar acciones</h3>-->
            <h4>$2000</h4>
        </div>
        <div class="col-md-12 col-lg-2 mx-2 mt-4 portfolio_div">
            <h3>Ganancia Diaria</h3>
            <!--<h4>compara fondos totales desde ayer con los de ahora</h3>-->
            <!--Si es positivo mostrar en verde/ sino en rojo-->
            <h4>${{dailyGains}}</h4>
        </div>
    </div>
    



    <div *ngIf="isMobile">
        <table *ngFor="let stockItem of stocksData;" class="table table-bordered table-striped mt-4 portfolio_table">
            <thead>
                <tr>
                    <th colspan="2">Simbolo: {{stockItem.symbol}}</th>
                </tr>
            </thead>
            <tbody class="table-row">
                <tr class="row-mobile">
                    <td>Nombre</td>
                    <td>{{stockItem.company}}</td>
                </tr>
                <tr>
                    <td>Cantidad</td>
                    <td>{{stockItem.amount}}</td>
                </tr>
                <tr>
                    <td>Precio Compra</td>
                    <td>${{stockItem.price}}</td>
                </tr>
                <tr>
                    <td>Precio Actual</td>
                    <td>${{stockItem.currentPrice}}</td>
                </tr>
                <tr>
                    <td>Ganancia</td>
                    <td>%{{stockItem.gains}}</td>
                </tr>
                <tr>
                    <td>Total</td>
                    <td>${{stockItem.total}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="!isMobile">
        <table class="table table-bordered table-striped mt-4 portfolio_table">
            <thead>
                <tr>
                    <th>Simbolo</th>
                    <th>Nombre</th>
                    <th>Cantidad</th>
                    <th>Precio Compra</th>
                    <th>Precio Actual</th>
                    <th>Ganancia</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody class="table_row">
                <tr *ngFor="let stockItem of stocksData; let i = index">
                    <td>{{stockItem.symbol}}</td>
                    <td>{{stockItem.company}}</td>
                    <td>{{stockItem.amount}}</td>
                    <td>${{stockItem.price}}</td>
                    <td>${{stockItem.currentPrice}}</td>
                    <td>%{{stockItem.gains}}</td>
                    <td>${{stockItem.total}}</td>
                </tr>
            </tbody>
        </table>
    </div>

  </div>