.titulo{
    color: #1F7A8C;
}
.compraContainer{
    background-color: #E1E5F2;
}
.btn{
    background-color: #1F7A8C;
}

table{
    background-color: #e1e5f282;
}

:host {
    min-height: 80vh;
    display: block;
}