
<div class="contain justify-content-center w-100 d-flex mt-2">
  <div class="w-75 mb-4">
    <h2 class="titulo fw-bolder mb-3">Comprar accion</h2>
    <div class="compraContainer justify-content-center p-3 rounded">
      <h6 class="fw-bold mt-2">Mercado</h6>
      <div class="input-group mb-3 w-50">
        <select class="form-select" id="inputGroupSelect01">
          <option selected>Seleccionar...</option>
          <option value="1">Argentina</option>
          <option value="2">EEUU</option>
          <option value="3">Brasil</option>
        </select>
      </div>
      <h6 class="fw-bold mt-2">Simbolo</h6>
      <div class="input-group mb-3 w-50">
        <select class="form-select" id="inputGroupSelect01" [(ngModel)]="selectedSymbol"
          (ngModelChange)="miMetodo($event)">
          <option *ngFor="let item of datos?.titulos" [ngValue]="item">{{ item.simbolo }}</option>
        </select>
        <span class="text-secondary fs-4 mb-2"> <span class="text-success fw-bold">${{
            accionSelec.ultimoPrecio}}</span></span>

      </div>

      <div class="input-group mb-3 d-flex flex-column" CustomInput>
        <h6 class="fw-bold mt-2">Cantidad/Monto</h6>
        <div class="d-flex flex-row">
          <div class="input-group-text w-25">
            <label class="d-flex flex-row-reverse align-items-center fw-medium">Cantidad
            </label>
          </div>
          <input type="number" class="form-control w-50" [(ngModel)]="cantidadCompra"
            (ngModelChange)="calcularPrecioFinal(cantidadCompra)" aria-label="Text input with checkbox"
            id="cantidadInput" placeholder="Cantidad">
          <span class="text-secondary fs-4 mb-2">Total: <span
              class="text-success fw-bold">{{precioFinalCompra}}</span></span>
        </div>
        <br>
        <div class="w-100 align-items-center d-flex flex-column">
          <span class="text-secondary fs-4">Precio Final: <span class="text-success fw-bold">$
              {{ precioFinalComision}}</span></span>
          <span class="text-secondary fs-6">Comision: <span class="text-success fw-bold">0.5%</span></span>
        </div>
      </div>

      <div class="compraContainer_buttons d-flex justify-content-center mt-4">
        <button type="button" class="btn fw-bold justify-content-center w-25 text-white" (click)="submitCompraForm()">Comprar</button>
      </div>
    </div>
  </div>
