<body>
    <div class="main-banner" id="top">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="caption header-text">
                        <h6>Bienvenidos</h6>
                        <div class="line-dec"></div>
                        <h4> Ingresa <em>Al mundo</em> del <em>Dinero digital.</em></h4>
                        <p>Conseguí la seguridad y la información necesaria para tomar tu próximo paso. Aprendé con
                            nuestros expertos sobre la gestión de tus finanzas y el mercado.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="services section" id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-6">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="section-heading">
                                <h2>Es hora de <em>ArgenBroker,</em>
                                    <br>
                                    <span>Invierte </span>en moneda digital
                                </h2>
                                <div class="line-dec"></div>
                                <p>Queremos brindarte toda la información necesaria para que des tus próximos pasos y te
                                    conviertas en un gran trader. Accedé a todos estos recursos desde tu cuenta de
                                    ArgenBroker.</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="service-item">
                                <div class="icon">
                                    <img src="/src/assets/images/services-01.jpg" alt="discover SEO" class="templatemo-feature">
                                </div>
                                <h4>Tu dinero siempre en movimiento</h4>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="service-item">
                                <div class="icon">
                                    <img src="/src/assets/images/services-02.jpg" alt="data analysis" class="templatemo-feature">
                                </div>
                                <h4>Analiza tus ganancias todos los dias.</h4>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="service-item">
                                <div class="icon">
                                    <img src="/src/assets/images/services-03.jpg" alt="precise data" class="templatemo-feature">
                                </div>
                                <h4>Precisión y análisis de datos &amp; precisos.</h4>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="service-item">
                                <div class="icon">
                                    <img src="./src/assets/images/services-04.jpg" alt="SEO marketing" class="templatemo-feature">
                                </div>
                                <h4>SEO Marketing &amp; Social Media</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
    </div>
    <!-- Landing -->
    <div class="infos section" id="infos">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="main-content">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="left-image">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="section-heading">
                                    <h2>La <em>Apertura</em> &amp; y el mantenimiento es <span>Gratis</span></h2>
                                    <div class="line-dec"></div>
                                    <p>Analizá el contexto de cada instrumento y armá una estrategia de inversión que se
                                        ajuste a tus necesidades.</p>
                                </div>
                                <div class="skills">
                                    <div class="skill-slide marketing">
                                        <div class="fill"></div>
                                        <h6>Ganancias</h6>
                                        <span>90%</span>
                                    </div>
                                    <p class="more-info">Consultá los informes realizados por los expertos. Todo lo que
                                        necesitás para saber en qué invertir.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="footer">Pie que tiene que pasar el juani</div>
    </div>
    <!-- Footer -->
</body>
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-element-bundle.min.js"></script>