<body>
    <div class="row g-0 text-center">
        <div class="col-sm-6 col-md-8">
            <div class="caption">
                <h1>Bienvenidos</h1>
                <div class="line-dec"></div>
                <h4> Ingresa <em>Al mundo</em> del <em>Dinero digital.</em></h4>
                <p class="text1">Conseguí la seguridad y la información necesaria para tomar tu próximo paso. Aprendé con
                    nuestros expertos sobre la gestión de tus finanzas y el mercado.</p>
            </div>
        </div>
        <div class="col-6 col-md-4" id="compu">
            <img class="banner-header" src="../../../assets/images/Developer activity-amico.png">
        </div>
    </div>
    <div class="row g-0 text-center">
        <div class="col-sm-6 col-md-8" id="img-inver">
            <img src="../../../assets/images/Money income-amico.png" alt="inversinista">
        </div>
        <div class="col-6 col-md-4">
            <div class="section-heading">
                <h2>Es hora de <em>ArgenBroker,</em>
                    <br>
                    <span>Invierte </span>en moneda digital
                </h2>
                <div class="line-dec">
                <p>Queremos brindarte toda la información necesaria para que des tus próximos pasos y te
                    conviertas en un gran trader. Accedé a todos estos recursos desde tu cuenta de
                    ArgenBroker.</p>
                    <div class="container text-center">
                        <div class="row row-cols-2">
                          <div class="col"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-wallet" viewBox="0 0 16 16">
                            <path class="carter" d="M0 3a2 2 0 0 1 2-2h13.5a.5.5 0 0 1 0 1H15v2a1 1 0 0 1 1 1v8.5a1.5 1.5 0 0 1-1.5 1.5h-12A2.5 2.5 0 0 1 0 12.5V3zm1 1.732V12.5A1.5 1.5 0 0 0 2.5 14h12a.5.5 0 0 0 .5-.5V5H2a1.99 1.99 0 0 1-1-.268zM1 3a1 1 0 0 0 1 1h12V2H2a1 1 0 0 0-1 1z"/>
                          </svg>Tu dinero siempre en movimiento</div>
                          <div class="col"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bank" viewBox="0 0 16 16">
                            <path d="m8 0 6.61 3h.89a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H15v7a.5.5 0 0 1 .485.38l.5 2a.498.498 0 0 1-.485.62H.5a.498.498 0 0 1-.485-.62l.5-2A.501.501 0 0 1 1 13V6H.5a.5.5 0 0 1-.5-.5v-2A.5.5 0 0 1 .5 3h.89L8 0ZM3.777 3h8.447L8 1 3.777 3ZM2 6v7h1V6H2Zm2 0v7h2.5V6H4Zm3.5 0v7h1V6h-1Zm2 0v7H12V6H9.5ZM13 6v7h1V6h-1Zm2-1V4H1v1h14Zm-.39 9H1.39l-.25 1h13.72l-.25-1Z"/>
                          </svg>Analiza tus ganancias todos los dias</div>
                          <div class="col"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-graph-up-arrow" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M0 0h1v15h15v1H0V0Zm10 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4.9l-3.613 4.417a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61L13.445 4H10.5a.5.5 0 0 1-.5-.5Z"/>
                          </svg>Precisión y análisis de datos &amp; precisos.</div>
                          <div class="col"><svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" class="seo">
                            <path fill="#000000" d="M14.25 2.1a1.25 1.25 0 0 0-1.17-.1L6.91 4.43a1.22 1.22 0 0 1-.46.09H2.5a1.25 1.25 0 0 0-1.25 1.25v.1H0v3h1.25V9a1.25 1.25 0 0 0 1.25 1.22L4 13.4a1.26 1.26 0 0 0 1.13.72h.63A1.25 1.25 0 0 0 7 12.87v-2.53l6.08 2.43a1.27 1.27 0 0 0 .47.09a1.29 1.29 0 0 0 .7-.22a1.25 1.25 0 0 0 .55-1V3.13a1.25 1.25 0 0 0-.55-1.03zm-8.5 3.67V9H2.5V5.77zm0 7.1h-.63l-1.23-2.65h1.86zm1.62-3.72A2.29 2.29 0 0 0 7 9V5.7a2.26 2.26 0 0 0 .37-.11l6.18-2.46v8.48zm7.46-3.03v2.5a1.25 1.25 0 0 0 0-2.5z"/>
                        </svg>SEO Marketing &amp; Social Media</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    <br>
    <!-- Landing -->
    <div class="infos section" id="infos">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="main-content">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="left-image">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="section-heading">
                                    <h2>La <em>Apertura</em> &amp; y el mantenimiento es <span>Gratis</span></h2>
                                    <div class="line-dec"></div>
                                    <p>Analizá el contexto de cada instrumento y armá una estrategia de inversión que se
                                        ajuste a tus necesidades.</p>
                                </div>
                                <div class="skills">
                                    <div class="skill-slide marketing">
                                        <div class="fill"></div>
                                        <h6>Ganancias</h6>
                                        <span>90%</span>
                                    </div>
                                    <p class="more-info">Consultá los informes realizados por los expertos. Todo lo que
                                        necesitás para saber en qué invertir.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>