.row {
    margin-bottom: 50px;
}
.col-sm-6 {
    display: center;
    justify-content: center;
    align-items: center;
    width: 1500px;
    height: 300px;
}
.caption{
    display: center;
    justify-content: flex-end;
    align-items: center;
    padding: 120px 30px 40px 30px;
    text-align: center;
    font-size: 30px;
    padding-left: 110px;
    padding-right: 110px;
    width: 1420px;
    height: 460px;
}
h4,p,h2,span{
    font-size: 37px;
}
h1{
    color: #0e85b1;
    font-size: 150px;
    padding-bottom: 20px;
    text-shadow: 2px 2px #025979;
}
em{
    color: #0e85b1;
    font-size: 50px;
    text-shadow: 2px 2px #025979;
}
.banner-header{
    display: center;
    float: inline-start;
    padding: 0px;
    margin: 0px;
    width: 650px;
    height: 650px;
    top: 100px;
}
img{
    display: center;
    float: center;
    margin: 0px;
    height: 700px;
    width: 700px;
    top: 100px;
}
#img-inver{
    width: 1200px;
    height: 700px;
}
.section-heading{
    display: center;
    justify-content: flex-start;
    align-items: center;
    padding: 90px 30px 40px 30px;
    text-align: center;
    font-size: 35px;
    width: 1000px;
    height: 400px;
}
.col{
    display: center;
    border-bottom: solid;
    border-color: #025979;
    border-radius: 30px;
    padding: 8px 15px;
    padding-left: 30px;
    width: 950px;
    right: 950px;
}
.bi-wallet,.bi-bank,.bi-graph-up-arrow, .seo{
    display: start;
    width: 40px;
    height: 40px;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 10px;
}