<section class="about-us container-fluid">
    
    <div class="row rowAbout">
        <div class="col-md-12 text-center">
            <h1>Sobre Nosotros</h1>
        </div>
      <div class="col-md-4 person text-center">
        <img src="../../../assets/images/pfp.jpg" alt="Persona 1">
        <h3>Joaquin Colomar</h3>
        <p>Rol: <span class="role">Encargado de Dashboard</span></p>
      </div>

      <div class="col-md-4 person text-center">
        <img src="../../../assets/images/pfp.jpg" alt="Persona 2">
        <h3>Rodrigo Aranda</h3>
        <p>Rol: <span class="role">Scrum Master</span></p>
      </div>

      <div class="col-md-4 person text-center">
        <img src="../../../assets/images/pfp.jpg" alt="Persona 3">
        <h3>Matias Illanes</h3>
        <p>Rol: <span class="role">Encargado de Footer y Nav</span></p>
      </div>

      <div class="col-md-4 person text-center">
        <img src="../../../assets/images/pfp.jpg" alt="Persona 3">
        <h3>Lautaro Ezequiel</h3>
        <p>Rol: <span class="role">Encargado de Login y Register</span></p>
      </div>

      <div class="col-md-4 person text-center">
        <img src="../../../assets/images/pfp.jpg" alt="Persona 3">
        <h3>Lisandro Juncos</h3>
        <p>Rol: <span class="role">Encargado de Cotizaciones</span></p>
      </div>

      <div class="col-md-4 person text-center">
        <img src="../../../assets/images/pfp.jpg" alt="Persona 3">
        <h3>Juan Angeloni</h3>
        <p>Rol: <span class="role">Encargado de Landing Page</span></p>
      </div>
      
      <div class="col-md-4">
      </div>

      <div class="col-md-4 person text-center">
        <img src="../../../assets/images/pfp.jpg" alt="Persona 3">
        <h3>Ivo Garraza</h3>
        <p>Rol: <span class="role">Encargado de Compra y Venta Acciones</span></p>
      </div>


    </div>
  </section>
