<section class="quote-container">
  <h2 class="quote-title">Cotización de Acciones Argentinas</h2>

  <div class="table-scroll">

    <table class="table-custom" no-bootstrap>
      <tr class="table-header">
        <th>Símbolo</th>
        <th>Último Operado</th>
        <th>Variación Diaria</th>
        <th>Cantidad Compra</th>
        <th>Precio Compra</th>
        <th>Precio Venta</th>
        <th>Cantidad Venta</th>
        <th>Apertura</th>
        <th>Mínimo</th>
        <th>Máximo</th>
        <th>Último Cierre</th>
        <th>Monto Operado</th>
        <th></th>
      </tr>

      <tr class="table-data" *ngFor="let item of datos.titulos">
        <td>{{ item.simbolo }}</td>
        <td>{{ item.ultimoPrecio }}</td>
        <td>{{ item.variacionPorcentual }}%</td>
        <td>{{ item.puntas? item.puntas.cantidadCompra : '-' }}</td>
        <td>{{ item.puntas? item.puntas.precioCompra : '-' }}</td>
        <td>{{ item.puntas? item.puntas.precioVenta : '-' }}</td>
        <td>{{ item.puntas? item.puntas.cantidadVenta : '-' }}</td>
        <td>{{ item.puntas? item.apertura : '-' }}</td>
        <td>{{ item.minimo }}</td>
        <td>{{ item.maximo }}</td>
        <td>{{ item.ultimoCierre }}</td>
        <td>{{ item.volumen }}</td>
        <td></td>
      </tr>
      
    </table>
  </div>

</section>


